.main{
    width: 100%;
    height: 800px;
    background-color: #141417;
}
.text{
    padding: 116px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.title_one{
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

.title_two{
    padding-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.examples{
    display: grid;
    margin:auto;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap: 32px;
    padding:50px 100px 0 100px;
}
.example_one{
    height: 490px;
    min-width: 390px;
    background-color: #171B27;

}
.example_two{
    min-width: 390px;
    height: 490px;
    background-color: #EAC3A4;
}
.example_three{
    min-width: 390px;
    height: 490px;
    background:url("../../img/img_6.png");
}

.ex_wrap{
    padding:24px 24px 0 24px;
}
.ex_title{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.ex_name{
    width: 300px;
    font-size: 22px;
    padding-top: 8px;
    font-weight: 600;
    color: #FFFFFF;
}
.img__one{
    display: block;
    margin: 0 auto;
    padding-top: 38px;
    width: 220px;
    height: 350px;
}
.img__two{
    display: block;
    padding-top: 68px;
    float: right;
    width: 300px;
    height: 320px;
}
.img__three{
    padding-top: 146px;
    width: 350px;
    height: 250px;
}